/** @format */

.PortfolioDetails {
  display: flex;
  flex-direction: column;

  .stocks-group-section {
    margin-top: 30px;
    display: flex;
    flex-direction: column;

    .stocks-group {
      display: flex;
      flex-direction: row;
    }
  }
}
